host: 0.0.0.0
configurator: 'http://0.0.0.0:3218'
lovelace: 'http://0.0.0.0:8123/lovelace/0'
router_url: http://192.168.0.1/
shopping_list: http://0.0.0.0:8123/shopping-list
terminal_address: http://0.0.0.0:7681/
grafana: 'http://0.0.0.0:3000'
radio_ip: 0.0.0.0
desktop_ip: 0.0.0.0
logviewer_address: http://0.0.0.0:4242/

api_password: ppppp
http_password: msmssmms

server_username: erpwoeprow
server_password: xmncmnbmn

darksky_api_key: qowiorwieroiwr

google_client_id: oeiruoqwurouqwr
google_client_key: ipqoierpoqiwr

ecovacs_username: qqq@pmail.com
ecovacs_password: qqqqqq

telegram_api_key: "xxxxx"
telegram_ana: 11111111
telegram_mateus: 2222222

home_latitude: 0.0
home_longitude: 0.0

samsung_tv_ip: 0.0.0.0
samsung_tv_port: 1001
samsung_tv_mac: 'xxxcccdddd'

influxdb_ui: 'http://0.0.0.0:8888'
influxdb_host: 0.0.0.0
influxdb_port: 1111
influxdb_database: xxx
influxdb_username: xxx
influxdb_password: xxx

fixer_api_key: zzz
alpha_vantage_api_key: xxx

from_station: XXX, City tal
to_station: XXX, City tal

mqtt_password: xxx